.App-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  border: solid white;
  border-radius: 0.5em;
  width: 75vw;
  height: 75vh;
  left: 12.5vw;
  top: 5vh;
  position: relative;
}

.card {
  /* left: 5%; */
  position: relative;
}

.endTurnButton {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.FarmDisplay {
  float: left;
  position: relative;
  left: 15%;
  top: 2.5vh;
  transform: translate(-50%);
  text-align: center;
}

.spendCoinsButton {
  position: relative;
  left: 45.8%;
  transform: translate(-50%);
}

.itemCard {
  float: left;
  margin-right: 10px;
}

.modal {
  background: black;
  border: 4px solid #ccc;
  border-radius: 0.5em;
  height: 500px;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform: translate(-50%);
  width: 500px;
  z-index: 1;
  /* box-shadow: -2rem 2rem 2rem ; */
}

/* .open {
  height: 500px;
  width: 500px;
  transition: 1.1s ease-out;
}

.closed {
  height: 300px;
  width: 300px;
  transition: 1.1s ease-out;
} */

.playerbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  display: block;
}

.tile {
  margin: auto;
  width: 50%;
  text-align: center;
}

.toolbar {
  border-top: solid white;
  border-bottom: solid white;
  padding: 1em;
  text-align: center;
}

.TownDisplay {
  float: right;
  position: relative;
  right: 15%;
  top: 2.5vh;
  transform: translate(50%);
  text-align: center;
}
